* {
    font-family: "Exo", sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: .5em 1em;
    background-color: #edede9;
    color: #d5bdaf;
}

.site-name h1 {
    font-family: "Exo", sans-serif;
    font-size: 2em;
    display: inline-block;
}

.site-nav {
    display: inline-block;
    margin: 1.3em 3em 1em 1em;
}

.material-icons {
    font-size: 2em;

}

.search-image {
    background-image: url("/images/bag2.jpeg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.search-text {
    font-family: "exo", sans-serif;
    text-align: center;
    position: absolute;
    color: #edede9;
    top: 25%;
    left: 10%;
    transform: -50%, -50%;
}

button {
    background: #edede9;
    color: #d5bdaf;
    border: 4px solid #edede9;
    border-radius: 8px;
    padding: .5em 2em;
    font-size: .5em;
    transition: all 0.25s;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    background-color: #403d39;
    color: #d5bdaf;
    width: 100%;
    height: 100%;
    padding: .5em 1em;
    margin: 0 auto;
    position: absolute;
}

.content {
    padding: 30px 90px;
}



.footer-menu {
    padding-bottom: 3px;
    border-bottom: 2px solid #d5bdaf;

}


.login-container {
    background-color: #d5bdaf;
    display: flex;
    justify-content: space-evenly;
    padding: 90px;

}

.user-login {
    padding: 10px 0px;

}

.login-button {
    margin: 25px 0px;
}

ul {
    list-style: none;
    padding: 0px;
    line-height: 1.6;
    font-size: 15;
    margin-bottom: 0;
}

button:hover {
    border-color: ;
    box-shadow: 0 .5em .5em -.4em;
    transform: translateY(-.15em);
    cursor: crosshair;
}

.material-icons:hover {
    cursor: crosshair;
}

h1:hover {
    cursor: crosshair;
}



a:link {
    color: #d5bdaf;
    text-decoration: none;
}

a:visited {
    color: #d5bdaf;
}

a:hover {
    color: #e3d5ca;
    cursor: crosshair;
}